# R Basics Exercise

We will test you on a few topics:

* Basic Data Types
* Basic Arithmetic
* Vector
* Vector Operations
* Comparison operators
* Vector Selection and Indexing

The exercises below should be straightforward if you've reviewed the lecture, don't expect something very challenging yet, this is more of a review to make sure you've understood everything so far! Later on exercises/projects will be more challenging (and a lot more fun!)

## Solve the following problems using R

### What is two to the power of five?

In [2]:
2**5

[1] 32

In [3]:
2^5

[1] 32

### Create a vector called stock.prices with the following data points: 23,27,23,21,34

In [5]:
stock.prices=c(23,27,23,21,34)
stock.prices

[1] 23 27 23 21 34

In [7]:
stock.prices <- c(23,27,23,21,34)
stock.prices

[1] 23 27 23 21 34

### Assign names to the price data points relating to the day of the week, starting with Mon, Tue, Wed, etc...

In [42]:
stock_prices<-c(23,27,23,21,34)
stock_prices
days<-c("Mon","Tue","Wed","Thu","Fri")
days
names(stock_prices)<-days
stock_prices

[1] 23 27 23 21 34

[1] "Mon" "Tue" "Wed" "Thu" "Fri"

Mon Tue Wed Thu Fri
 23  27  23  21  34

### What was the average (mean) stock price for the week? (You may need to reference a built-in function)

In [45]:
mean(stock_prices)

[1] 25.6

### Create a vector called over.23 consisting of logicals that correspond to the days where the stock price was more than $23

In [44]:
over_23=(stock_prices > 23)
over_23

  Mon   Tue   Wed   Thu   Fri
FALSE  TRUE FALSE FALSE  TRUE

In [48]:
over.23 <- stock.prices>23
over.23

[1] FALSE  TRUE FALSE FALSE  TRUE

### Use the over.23 vector to filter out the stock.prices vector and only return the day and prices where the price was over $23

In [46]:
stock_prices[stock_prices>23]

Tue Fri
 27  34

### Use a built-in function to find the day the price was the highest

In [49]:
max(stock_prices)

[1] 34