# R Matrix Exercises

Through these exercises we will review the matrix data structure and perhaps introduce you to a few ideas for you to discover on your own! Just answer the questions below written in bold:

### Ex 1: Create 2 vectors A and B, where A is (1,2,3) and B is (4,5,6). With these vectors, use the cbind() or rbind() function to create a 2 by 3 matrix from the vectors. You'll need to figure out which of these binding functions is the correct choice.

Output:
<br>
A  1  2	3
<br>
B  4  5	6

In [2]:
vector_a=c(1,2,3)
vector_a

[1] 1 2 3

In [3]:
vector_b=c(4,5,6)
vector_b

[1] 4 5 6

In [6]:
#vertical
matrix_ab=cbind(vector_a,vector_b)
matrix_ab

     vector_a vector_b
[1,] 1        4
[2,] 2        5
[3,] 3        6

In [7]:
#horizontal
matrix_ba=rbind(vector_a,vector_b)
matrix_ba

         [,1] [,2] [,3]
vector_a 1    2    3
vector_b 4    5    6

### Ex 2: Create a 3 by 3 matrix consisting of the numbers 1-9. Create this matrix using the shortcut 1:9 and by specifying the nrow argument in the matrix() function call. Assign this matrix to the variable mat

In [25]:
mat=matrix(1:9, byrow=T,nrow=3)
mat

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

### Ex 3: Confirm that mat is a matrix using is.matrix()

In [26]:
is.matrix(mat)

[1] TRUE

### Ex 4: Create a 5 by 5 matrix consisting of the numbers 1-25 and assign it to the variable mat2. The top row should be the numbers 1-5.

In [23]:
mat2=matrix(1:25,byrow=T,nrow=5)
mat2

     [,1] [,2] [,3] [,4] [,5]
[1,]  1    2    3    4    5
[2,]  6    7    8    9   10
[3,] 11   12   13   14   15
[4,] 16   17   18   19   20
[5,] 21   22   23   24   25

### Ex 5: Using indexing notation, grab a sub-section of mat2 from the previous exercise that looks like this:

 [7,8]
 <br>
 [12,13]

In [31]:
mat2[2:3,2:3]

     [,1] [,2]
[1,]  7    8
[2,] 12   13

### Ex 6: Using indexing notation, grab a sub-section of mat2 from the previous exercise that looks like this:

[19,20]
<br>
[24,25]

In [35]:
mat2[4:5,4:5]

     [,1] [,2]
[1,] 19   20
[2,] 24   25

### Ex 7: What is the sum of all the elements in mat2?

In [36]:
sum(mat2)

[1] 325

### Ex 8: Ok time for our last exercise! Find out how to use runif() to create a 4 by 5 matrix consisting of 20 random numbers (4*5=20).

In [45]:
mat3=matrix(round(runif(20, min= 1, max=100)),nrow=5)
mat3

     [,1] [,2] [,3] [,4]
[1,] 22   10   68   31
[2,] 77   93    7   56
[3,] 94   10   84    3
[4,] 79   37   87   30
[5,] 89    8   15   49

In [46]:
mat3=matrix(round(runif(20, min= 1, max=100)),nrow=4)
mat3

     [,1] [,2] [,3] [,4] [,5]
[1,] 14   53   62   84   94
[2,] 15   42   99   28   90
[3,] 39   99   30   46   96
[4,] 71   98   47   10   83