# R Functions Exercises

Let's test your knowledge of functions in R! For these exercisee you be given instructions to create functions that take in certain inputs and give certain outputs. Just follow any instructions written in bold below. The first two are examples done for you.

### EXAMPLE 1: Create a function that takes in a name as a string argument, and prints out "Hello name"

In [1]:
hello_you <- function(name){
    print(paste('Hello',name))
}

In [2]:
hello_you("Roberto")

[1] "Hello Roberto"

### EXAMPLE 2: Create a function that takes in a name as a string argument and returns a string of the form - "Hello name"

In [26]:
name=readline("Type your name: ")

Type your name: Alexis

In [29]:
hello_name = function(name){
    return(paste("Hello ",name))
}

hello_name(name)

[1] "Hello  Alexis"

### Ex 1: Create a function that will return the product of two integers.

In [36]:
int_a=as.integer(readline("Write a number: "))
int_b=as.integer(readline("Write another integer: "))

Write a number: 120
Write another integer: 3

In [33]:
product=function(int_a,int_b){
    return (int_a * int_b)
}

In [37]:
print(product(int_a,int_b))

[1] 360

### Ex 2: Create a function that accepts two arguments, an integer and a vector of integers. It returns TRUE if the integer is present in the vector, otherwise it returns FALSE. Make sure you pay careful attention to your placement of the return(FALSE) line in your function!

In [39]:
arg_1=c(1:25)
arg_1

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [40]:
arg_2=readline("Write a number: ")

Write a number: 22

In [46]:
is_in = function(arg_1,arg_2){
    for (num in arg_1){
        if (num == arg_2){
            return (T)
        }
    }
    return (F)
}

In [47]:
is_in(arg_1,arg_2)

[1] TRUE

In [48]:
is_in(arg_1,26)

[1] FALSE

### Ex 3: Create a function that accepts two arguments, an integer and a vector of integers. It returns the count of the number of occurences of the integer in the input vector.

In [49]:
arg_a=readline("Write a number: ")

Write a number: 2

In [51]:
arg_b=c(1:10,1:7,1:4,5:10)
arg_b

 [1]  1  2  3  4  5  6  7  8  9 10  1  2  3  4  5  6  7  1  2  3  4  5  6  7  8
[26]  9 10

In [53]:
count_args= function(arg_a,arg_b){
    total=0
    for (num in arg_b){
        if (num == arg_a){
            total=total+1
        }
    }
    return (total)
}

In [54]:
count_args(arg_a,arg_b)

[1] 3

### Ex 4: We want to ship bars of aluminum. We will create a function that accepts an integer representing the requested kilograms of aluminum for the package to be shipped. To fullfill these order, we have small bars (1 kilogram each) and big bars (5 kilograms each). Return the least number of bars needed.

#### For example, a load of 6 kg requires a minimum of two bars (1 5kg bars and 1 1kg bars). A load of 17 kg requires a minimum of 5 bars (3 5kg bars and 2 1kg bars).

In [87]:
load=as.integer(readline("Type a number: "))

Type a number: 17

In [83]:
total_bar = function(load){
    small_bar=0
    big_bar=0
    if ((load %% 5) == 0){
        big_bar = load/5
        return(paste("you will need",big_bar,"big bars"))
    }else if((load %% 5) != 0 & (load > 5)){
        while((load %% 5) != 0){
            load=load - 1
            small_bar=small_bar + 1
            if ((load %% 5) == 0){
                big_bar= load/5
                return(paste("You will need ",big_bar," big bars and ",small_bar," small bars"))
            }
        }  
    }else if (load < 5){
        small_bar=load/1
            return (paste("You will need ",small_bar," small bars"))
        }
}

#### try:

In [71]:
total_bar(load)

[1] "You will need  3  big bars and  2  small bars"

In [88]:
total_bar(3)

[1] "You will need  3  small bars"

In [89]:
total_bar(5)

[1] "you will need 1 big bars"

In [90]:
total_bar(12)

[1] "You will need  2  big bars and  2  small bars"

### Ex 5: Create a function that accepts 3 integer values and returns their sum. However, if an integer value is evenly divisible by 3, then it does not count towards the sum. Return zero if all numbers are evenly divisible by 3. Hint: You may want to use the append() function.

In [111]:
sum_numbers=function(x,y,z){
    array_result=c()
    if((x %% 3) != 0){
        array_result=append(x,array_result)    
    }
    if((y %% 3) != 0){
        array_result=append(y,array_result)    
    }
    if((z %% 3) != 0){
        array_result=append(z,array_result)    
    }
    print(array_result)
    return(sum(array_result))
    
}

###### try:

In [112]:
sum_numbers(11,12,15)

[1] 11

[1] 11

In [113]:
sum_numbers(12,14,15)

[1] 14

[1] 14

In [114]:
sum_numbers(11,13,15)

[1] 13 11

[1] 24

In [115]:
sum_numbers(2,3,4)

[1] 4 2

[1] 6

### Ex 6: Create a function that will return TRUE if an input integer is prime. Otherwise, return FALSE. You may want to look into the any() function. There are many possible solutions to this problem.

In [116]:
int_val=as.integer(readline("Write a number: "))

Write a number: 3

In [147]:
prime_number=function(int_val){
    if(int_val <= 1){
        return (FALSE)
    }else if(int_val <=3){
        return (TRUE)
    }else if(((int_val %% 2) == 0) || ((int_val %% 3) == 0) || ((int_val %% 5) == 0)){
        return (FALSE)
    }else{
        return (TRUE)
    }
}

#### Try:

In [148]:
prime_number(int_val)

[1] TRUE

In [149]:
prime_number(2)

[1] TRUE

In [150]:
prime_number(96)

[1] FALSE

In [151]:
prime_number(95)

[1] FALSE

In [152]:
prime_number(97)

[1] TRUE

In [163]:
prime_number(99)

[1] FALSE