# R Dplyr Exercises

#### Perform the following operations using only the dplyr library. We will be reviewing the following operations:

* filter() (and slice())
* arrange()
* select() (and rename())
* distinct()
* mutate() (and transmute())
* summarise()
* sample_n() and sample_frac()

Copy and paste this code in Anaconda Prompt: conda install -c conda-forge r-dplyr

In [3]:
library(dplyr)

#### We will use the mtcars dataframe for this exercise!

In [16]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb new_col
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    41.98473
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    38.26087
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    40.08621
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    34.21462
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    50.87209
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    30.34682
                  Performance
Mazda RX4         41.98473
Mazda RX4 Wag     38.26087
Datsun 710        40.08621
Hornet 4 Drive    34.21462
Hornet Sportabout 50.87209
Valiant           30.34682

### 1 Return rows of cars that have an mpg value greater than 20 and 6 cylinders.

In [5]:
filter(mtcars,mpg > 20, cyl==6)

               mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4      21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag  21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1

### 2 Reorder the Data Frame by cyl first, then by descending wt.

In [7]:
head(arrange(mtcars,cyl,desc(wt)))

              mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Merc 240D     24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230      22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Volvo 142E    21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
Toyota Corona 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Datsun 710    22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Fiat 128      32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1

### 3 Select the columns mpg and hp

In [9]:
head(select(mtcars,mpg,hp))

                  mpg  hp
Mazda RX4         21.0 110
Mazda RX4 Wag     21.0 110
Datsun 710        22.8  93
Hornet 4 Drive    21.4 110
Hornet Sportabout 18.7 175
Valiant           18.1 105

### 4 Select the distinct values of the gear column.

In [11]:
distinct(select(mtcars,gear))

               gear
Mazda RX4      4
Hornet 4 Drive 3
Porsche 914-2  5

### 5 Create a new column called "Performance" which is calculated by hp divided by wt.

In [27]:
mtcars<- mtcars %>% mutate(Performance=c(hp/wt))

In [31]:
head(select(mtcars,-c(new_col))) ##remove the new col

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1
                  Performance
Mazda RX4         41.98473
Mazda RX4 Wag     38.26087
Datsun 710        40.08621
Hornet 4 Drive    34.21462
Hornet Sportabout 50.87209
Valiant           30.34682

### 6 Find the mean mpg value using dplyr.

In [37]:
summarise(mtcars,mean_mpg=mean(mpg,na.rm=TRUE))

  mean_mpg
1 20.09062

### Use pipe operators to get the mean hp value for cars with 6 cylinders.

In [39]:
mtcars %>% filter(cyl==6) %>% summarise(mean_hp = mean(hp))

  mean_hp
1 122.2857